<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="UniTime - Comprehensive Academic Scheduling Solutions"/>
    <meta name="keywords" content="unitime, timetabling, scheduling, examinations, courses, students"/>
    <meta name="robots" content="index,follow"/>
    <link rel="shortcut icon" href="images/unitime.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css"/>
    <title>Help: {{ page.title }}</title>
    {% if page.forward %}
    <meta http-equiv="refresh" content="0; URL={{ page.forward }}" />
    {% endif %}
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='{{ relative }}index' data-toggle="collapse" data-target=".navbar-collapse.in"><span class='home-button'><img class='logo' src='images/logo-menu-notext.png' height="32px"/> UniTime Help</span></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav  navbar-right">
                {% include_relative sidebar.html %}
                </ul>
              <div class="navbar-right" style="margin-top: 8px; margin-right: 15px;">
                <button id="search-trigger" class="search-trigger" onclick="openSearchModal()" aria-label="Search documentation">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" style="margin-right: 8px;">
                    <path d="M7 12A5 5 0 1 0 7 2a5 5 0 0 0 0 10zM13 13l-3-3"/>
                  </svg>
                  <span>Search</span>
                  <kbd>Ctrl+K</kbd>
                </button>
              </div>
            </div>
        </div>
    </div>
    <div class='container' data-pagefind-body style='text-align: justify; border-top: 2px solid #749ad1;'>
        <h1 data-pagefind-meta="title">{{page.title}}</h1>
        {% if page.forward %}
        See <a href='{{ page.forward }}'>{{ page.forward }}</a> for more details.<br><br>
        {% endif %}
        {{ content }}
    </div>
    <div class='container'>
        <table class='footer-table'>
          <tr>
            <td width='40%' style='text-align: left;'>
                Back to <a href='university-timetabling-application'>UniTime Online Documentation</a>
            </td>
            <td width='20%' style='text-align: center;'>
                <a href='htps://www.unitime.org'>&copy; UniTime 2026</a>
            </td>
            <td width='40%' style='text-align: right;'>
                Content available under <a href='http://www.gnu.org/copyleft/fdl.html'>GNU Free Documentation License 1.3</a>
            </td>
          </tr>
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% include search.html %}
</body>